{% extends 'base.html' %}

{% block title %} FAQs {% endblock %}

{% block content %}
    <h2>FAQs</h2>
    <h3 style="color:#ff6080">Details</h3>
    <p>Our wedding will take place on Saturday, 11th June 2022 at the McCabe family home, Lis-na-Carrig. <br>
      The ceremony will commence at 3pm, with the reception to follow.</p>
    <h3>Day 2</h3>
    <p> You are very welcome to join us at Lis-na-Carrig on Sunday 12th June for a second (more relaxed) afternoon
        of celebrations from 1pm until 5pm.</p>
    <h3>Getting There</h3>
    <p>Lis-na-Carrig is located on Brighton Road, Foxrock, D18 X7P4. The Carrickmines stop on the LUAS Green Line is approx. a 15 minute walk from the house.<br>
Alternatively, the app Free Now is probably the easiest way to get a taxi anywhere in Dublin.
        There will be limited parking available onsite on the day.</p>
    <h3>Accommodation</h3>
    <p>The Clayton Hotel Leopardstown is about a 10 minute drive from Lis-na-Carrig.<br> We have a block of 10 rooms reserved at the rate of €159/night for a double and €149 for a single.
        Please quote the block ID number 482345 when booking.</p>
    <h3>RSVP</h3>
    <p>Please RSVP using the form on this website by May 1st. </p>
{% endblock %}
